.site-footer {
    background-color: $green;
    color: $white;
    a {
        color: $white;
        &:hover {
            color: $accent-color;
        }
    }
    .big-container {
        @media #{$small} {
            padding: 70px 30px;
        }
        @media #{$medium} {
            padding: 70px 45px;
        }
        @media #{$x-large} {
            margin: 0 auto;
            padding: 70px 80px 50px 80px;
        }
    }
    .footer-top {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @media #{$small} {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 50px;
        }
        @media #{$large} {
            display: flex;
            flex-direction: row;
        }
        .logo {
            padding-bottom: 50px;
            a {
                display: flex;
            }
            img {
                width: 170px;
                object-fit: contain;
                height: auto;
            }
        }
        .address {
            .item {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                i {
                    margin-right: 10px;
                }
                .fa-envelope {
                    margin-left: 0;
                    @media #{$medium} {
                        margin-left: 50px;
                    }
                }
                .fa-facebook,
                .fa-instagram {
                    font-size: 35px;
                }
                .fa-facebook {
                    margin-right: 25px;
                }
            }
            .double {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                @media #{$medium} {
                    flex-direction: row;
                }
                .box {
                    display: flex;
                    align-items: center;
                    &:first-child {
                        margin-bottom: 20px;
                        @media #{$medium} {
                            margin-bottom: 0;
                        }
                    }
                    a {
                        margin: 10px 0;
                    }
                }
            }
        }
        h3 {
            margin-top: 50px;
            margin-bottom: 30px;
            @media #{$small} {
                margin-top: 0;
                margin-bottom: 50px;
            }
        }
        .footer-nav-menu {
            li {
                margin-bottom: 15px;
            }
        }
        .last-col {
            p {
                margin-bottom: 15px;
            }
        }
    }
    .footer-bottom {
        display: flex;
        justify-content: space-between;
        @include text-size(14px,21px);
        padding-top: 50px;
        flex-direction: column;
        @media #{$small} {
            flex-direction: row;
            align-items: center;
        }
    }
}